<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/customer-registration']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CUSTOMER REGISTRATION</a>
</nav>
