.day-container {
	float: left;
	margin-right: 6px;
}

.month-container{
	float: left;
	margin-right: 6px;
}

.year-container{
	float: left;
}


.day-selector {
	min-width: 1em;
	padding: 8px 30px 8px 8px;

}

.month-selector{
	min-width: 1em;
    padding: 8px 30px 8px 8px;
}

.year-selector{
	min-width: 1em;
    padding: 8px 30px 8px 8px;
}
