<div class="form-inline">
    <div class="day-container form-group col-xs-3">
        <select name="dateFieldsDay" id="dateFieldsDay" [(ngModel)]="dateFields.day"  placeholder="Day" class="day-selector form-control" #dateFieldsDay="ngModel" (change)="OnChangeDate()"   >
            <option  *ngFor="let day of dayList" [ngValue]="day">{{day}}</option>
        </select>
    </div>
    <div class="month-container form-group col-xs-5">
        <select name="dateFieldsMonth" id="dateFieldsMonth" [(ngModel)]="dateFields.month" placeholder="Month" class="month-selector form-control" (change)="OnChangeDate()" >
               <option  *ngFor="let month of MonthList" [ngValue]="month.value">{{month.name}}</option>
        </select>
    </div>
    <div class="year-container form-group col-xs-4">
        <select name="dateFieldsYear" id="dateFieldsYear" [(ngModel)]="dateFields.year"  placeholder="Year" class="year-selector form-control" (change)="OnChangeDate()" >
             <option  *ngFor="let year of YearList" [ngValue]="year">{{year}}</option>      
        </select>
        <!--<input ng-show="yearText" type="text" name="dateFields.year" data-ng-model="dateFields.year" placeholder="Year" class="form-control"
            ng-disabled="disableFields">-->
         <input  type="hidden" name="dateModel" [(ngModel)]="value" placeholder="Date Model" class="form-control" >
         <!--(change)="onModelChange()" (onModelChange)="onModelChange()"  (touch)="onModelChange()" -->
    </div>   
</div>