<article class="narrow520">
	<section>
        
        <header>
            <h3>{{registrationService.getCurrentStepTitle()}}</h3>
		</header>

  		<div *ngIf="registrationService.error && registrationService.error != ''" class="pageinfo bad">
			<p>{{registrationService.error}}</p>
		</div>

        <div *ngIf="registrationService.getCurrentStepInstructionalText() && registrationService.getCurrentStepInstructionalText() != ''" class="pageinfo bad">
			<p>{{registrationService.getCurrentStepInstructionalText()}}</p>
		</div>

        <mydna-customerreg-start-step *ngIf="registrationService.getCurrentStepName()=='start-step'"></mydna-customerreg-start-step>
        <mydna-customerreg-mykit-step *ngIf="registrationService.getCurrentStepName()=='mykit-step'"></mydna-customerreg-mykit-step>
        <mydna-customerreg-customer-details-step *ngIf="registrationService.getCurrentStepName()=='customer-details-step'"></mydna-customerreg-customer-details-step>
        <mydna-customerreg-select-reports-step *ngIf="registrationService.getCurrentStepName()=='select-reports-step'"></mydna-customerreg-select-reports-step>
        <mydna-customerreg-payment-step *ngIf="registrationService.getCurrentStepName()=='payment-step'"></mydna-customerreg-payment-step>
        <mydna-customerreg-medications-step *ngIf="registrationService.getCurrentStepName()=='medications-step'"></mydna-customerreg-medications-step>
        <mydna-customerreg-my-practitioners-step *ngIf="registrationService.getCurrentStepName()=='my-practitioners-step'"></mydna-customerreg-my-practitioners-step>
        <mydna-customerreg-login-details-step *ngIf="registrationService.getCurrentStepName()=='login-details-step'"></mydna-customerreg-login-details-step>
        <mydna-customerreg-confirmation-step *ngIf="registrationService.getCurrentStepName()=='confirmation-step'"></mydna-customerreg-confirmation-step>
        <mydna-customerreg-sorry-wizard-panel *ngIf="registrationService.getCurrentStepName()=='sorry-wizard-panel'"></mydna-customerreg-sorry-wizard-panel>

        <div>
            <button *ngIf="getPreviousStep()" (click)="onPrevious()">Previous</button>
            <button *ngIf="getNextStep()" [disabled]="!validate()" (click)="onNext()">Next</button>            
        </div>
    </section>
</article>