		<form novalidate="">
			<fieldset>
				<div class="row">
                    <label for="name">Enter Barcode</label>
					<input placeholder="Please enter the barcode here." type="text" [(ngModel)]="barcode" name="barcode" required />
				</div>
			</fieldset>
		</form>

