		<form  novalidate="" >
			<fieldset>
				In order to register you must be in possession of your test kit. Please try again once you have received your Kit.
                <p>&nbsp;</p>
                <p>
                <button style="link" (click)="registrationService.setCurrentStepName('start-step')">Start Again</button>
                </p>
			</fieldset>
		</form>
