fieldset .errorWrap {
	clear: both;
	color: #f04e5e;
	font-size: 0.8em;
	padding: 5px 0 3px;
}

fieldset .errorWrap div {
	display: inline-block;
}


.pageinfo.good {
	background-color: #e2edcc;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	border-right: 0;
	box-shadow: 2px 2px 2px #cccccc;
	color: #87b925;
	font-weight: bold;
	overflow: hidden;
	padding: 10px 25px;
}

.pageinfo.bad {
	background-color: #fbd9dd;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	border-right: 0;
	box-shadow: 2px 2px 2px #cccccc;
	color: #f04e5e;
	font-weight: bold;
	overflow: hidden;
	padding: 10px 25px;
}

fieldset .row {
    display: table;
    margin: 10px 0;
    position: relative;
    width: 100%;
}

fieldset .row>:first-child {

        color: #666;
    display: table-cell;
    font-weight: 700;
    vertical-align: top;
    width: 160px;
}

fieldset .row input[type=text].short {
    min-width: 140px;
    width: 30%;
}

fieldset .row .radio {
    font-size: .9em;
    padding-bottom: 5px;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset .row input[type=radio] {
    border: none;
}

select {  
    border: 1px solid #ccc;
    min-width: 100px;   
    padding: 8px 30px 8px 8px;
    width: 30%!important;   
}