<article>
    <section>      
            <!--<pre>form status : {{f.status | json}}</pre>
            
            <pre>form errors : {{f.errors | json}}</pre>
            <pre>form valid {{f.valid | json}}</pre>
             <pre>form invalid {{f.invalid | json}}</pre>
            <pre>{{frm | json}}</pre>
            <pre>{{Zip}}</pre>-->
<!--
            <pre>form value : {{f.value | json}}</pre>-->
        <form name="form"  #f="ngForm" autocomplete="off" novalidate="" >

            <div class="pageinfo bad" *ngIf="showErrors && f.invalid">
                <p>            
                Please correct the highlighted fields.          
                &nbsp;</p>
            </div>

            <div class="pageinfo good" *ngIf="showErrors && f.valid">
                <p>         
                Data is valid, you may continue         
                &nbsp;</p>
            </div>
            
            <fieldset>
                <h3>Personal Details</h3>                      
               
                <div class="row">
                    <label>First Name </label>
                    <input type="text" class="short" name="FirstName" id="FirstName" [(ngModel)]="frm.FirstName" required maxlength="20" #FirstName="ngModel" [pattern]="namePattern" />     
                    <div class="errorWrap">
                        <div *ngIf="FirstName.invalid && showErrors">
                                <div *ngIf="FirstName.errors.required" >Please enter a First Name</div>
                                  <div *ngIf="FirstName.errors.pattern" >Please enter a valid First Name</div>
                        </div>
                    &nbsp;</div>            
                </div>

                <div class="row">
                    <label>Middle Name</label>
                    <input type="text" class="short" name="MiddleName" [(ngModel)]="frm.MiddleName"  id="MiddleName"  maxlength="20" #MiddleName="ngModel" [pattern]="namePattern"  />
                     <div class="errorWrap">
                        <div *ngIf="MiddleName.invalid && showErrors">
                                <div *ngIf="MiddleName.errors.required" >Please enter a MiddleName Name</div>
                                <div *ngIf="MiddleName.errors.pattern" >Please enter a valid MiddleName Name</div>
                        </div>
                    &nbsp;</div>   
                </div>

                <div class="row">
                    <label>Last Name</label>
                    <input type="text" class="short" name="LastName" id="LastName" [(ngModel)]="frm.LastName"  required  maxlength="20" #LastName="ngModel" [pattern]="namePattern" />
                    <div class="errorWrap">
                        <div *ngIf="LastName.invalid && showErrors">
                                <div *ngIf="LastName.errors.required" >Please enter a Last Name</div>
                                <div *ngIf="LastName.errors.pattern" >Please enter a  valid Last Name</div>
                        </div>
                    &nbsp;</div>
                </div>

                <div class="row">
                    <label>Date Of Birth</label>                
                    <date-dropdown name="dateDropDown" [(ngModel)]="frm.Dob"  [dateFormat]="dd/MM/yyyy" [required]="true" #dateDropDown="ngModel" ></date-dropdown>
                    <div class="errorWrap">
                            <div *ngIf="dateDropDown.invalid && showErrors">
                                    <div *ngIf="dateDropDown.errors.required" >Please enter a Date Of Birth</div>
                            </div>
                    &nbsp;</div>
                </div>

                 <div class="row">
                    <label>Gender</label>                    
                   <input type="radio" name="Gender" value="M" [(ngModel)]="frm.Gender" #Gender="ngModel" required/>Male
                   <input type="radio" name="Gender" value="F" [(ngModel)]="frm.Gender" required/>Female
                   <input type="radio" name="Gender" value="O" [(ngModel)]="frm.Gender" required/>Other/Unspecified 
                   <div class="errorWrap">
                        <div *ngIf="Gender.invalid && showErrors">
                                <div *ngIf="Gender.errors.required" > Please select a Gender</div>
                        </div>
                    &nbsp;</div>
                </div>

                
                <div class="row">
                        <label>Ethnicity  </label>                   
                        <select name="Ethnicity" id="Ethnicity"  [(ngModel)]="frm.Ethnicity" #Ethnicity="ngModel" >
                            <option value="">Select</option>
                            <option value="Australian">Australian</option>
                            <option value="Canadian">Canadian</option>
                        </select>
                        <div class="errorWrap">
                            <div *ngIf="Ethnicity.invalid && showErrors ">
                                    <div *ngIf="Ethnicity.errors.required" >Please select an Ethnicity</div>
                            </div>
                        &nbsp;</div>
                </div>

                           


            <h3>Contact Details</h3>           
                <div class="row">
                    <label>Country </label>
                    <select name="Country" id="Country" [(ngModel)]="frm.Country" (ngModelChange)="setCountryCode()"  #Country="ngModel" required >
                        <option value="" selected>Select</option>
                        <option value="Australia">Australia</option>
                        <option value="Canada">Canada</option>
                    </select>
                    <div class="errorWrap">
                        <div *ngIf="Country.invalid && showErrors">
                                <div *ngIf="Country.errors.required" >Please select a Country</div>
                        </div>
                    &nbsp;</div>
                </div>
               
                   
                <div class="row" *ngIf="(frm.Country&&frm.Country!=='Australia')">
                    <label>Province </label>
                    <select name="Province" id="Province"  [(ngModel)]="frm.Province" #Province="ngModel" required>
                        <option value="" selected>Select</option>
                        <option value="Province 1">Province 1</option>
                        <option value="Province 1">Province 2</option>
                    </select>
                    <div class="errorWrap">
                        <div *ngIf="Province.invalid && showErrors">
                                <div *ngIf="Province.errors.required" >Please Select a Province</div>
                        </div>
                    &nbsp;</div>
                </div>
              
                <div class="row">
                    <label>Address</label>
                    <input type="text" class="short" name="Address" id="Address" maxlengt="50"  [(ngModel)]="frm.Address" #Address="ngModel" required />
                    <div class="errorWrap">
                            <div *ngIf="Address.invalid && showErrors">
                                    <div *ngIf="Address.errors.required" >Please select a Address</div>
                            </div>
                    &nbsp;</div>
                </div>

                <div class="row">
                    <label>Suburb</label>
                    <input type="text" class="short" name="Suburb" id="Suburb"  [(ngModel)]="frm.Suburb" required  maxlengt="30" #Suburb="ngModel" [pattern]="namePattern" />
                    <div class="errorWrap">
                            <div *ngIf="Suburb.invalid && showErrors">
                                    <div *ngIf="Suburb.errors.required" >Please enter a Suburb</div>
                                      <div *ngIf="Suburb.errors.pattern" >Please enter a valid Suburb</div>
                            </div>
                    &nbsp;</div>
                </div>

                <div class="row" *ngIf="(frm.Country&&frm.Country==='Australia')" >
                    <label>State </label>
                    <select name="State" id="State"  [(ngModel)]="frm.State"   #State="ngModel" required>
                        <option value="" selected>Select</option> 
                        <option value="ACT">Australian Capital Territory</option>
                        <option value="NSW">New South Wales</option>
                         <option value="NT">Northern Territory</option>
                        <option value="QLD">Queensland</option>                       
                        <option value="SA">  South Australia</option>
                        <option value="TAS">Tasmania</option>
                        <option value="VIC">Victoria</option>
                        <option value="WA">Western Australia</option>
                    </select>
                    <div class="errorWrap">
                        <div *ngIf="State.invalid && showErrors">
                                <div *ngIf="State.errors.required" >Please select a State</div>
                        </div>
                    &nbsp;</div>
                </div>
                
                <div class="row" *ngIf="(frm.Country&&frm.Country==='Australia')">
                    <label>PostCode</label>
                    <input type="text" class="short" name="PostCode" id="PostCode"  [(ngModel)]="frm.PostCode" #PostCode="ngModel" required  maxlength="4" [pattern]="postcodePattern" />
                    <div class="errorWrap">
                            <div *ngIf="PostCode.invalid && showErrors">
                                    <div *ngIf="PostCode.errors.required" >Please enter a PostCode</div>
                                    <div *ngIf="PostCode.errors.pattern" >Please enter a valid PostCode</div>
                            </div>
                    &nbsp;</div>
                </div>

                <div class="row" *ngIf="(frm.Country&&frm.Country!=='Australia')">
                    <label>Zipcode</label>
                    <input type="text" class="short" name="Zip" id="Zip"  [(ngModel)]="frm.Zip"  #Zip="ngModel" required  maxlength="5" [pattern]="postcodePattern"  />
                    <div class="errorWrap">
                            <div *ngIf="Zip.invalid && showErrors">
                                    <div *ngIf="Zip.errors.required" >Please enter a Zipcode</div>
                                     <div *ngIf="Zip.errors.pattern" >Please enter a valid Zipcode</div>
                            </div>
                    &nbsp;</div>
                </div>

               
                <div class="row">
                    <label>Phone</label>
                     <input type="text" class="short" name="PhoneCountryCode" id="PhoneCountryCode"  [(ngModel)]="CountryCode" [disabled]="true"
                     style="max-width: 50px!important;min-width: 20px!important;"  #PhoneCountryCode="ngModel" />

                    <input type="text" class="short" name="Phone" id="Phone"  [(ngModel)]="frm.Phone" 
                    (ngModelChange)="atLeastOneContactisEntered()"  [required]="iscontactRequired" [pattern]="phonePattern"  #Phone="ngModel" 
                    />
                    <div class="errorWrap">
                            <div *ngIf="Phone.invalid && showErrors">
                                    <div *ngIf="Phone.errors.required" >Please enter either Phone number or Mobile number</div>
                                    <div *ngIf="Phone.errors.pattern" >Please enter a valid Phone number</div>
                            </div>
                    &nbsp;</div>
                </div>

                 <div class="row">
                    <label>Mobile</label>
                   <input type="text" class="short" name="MobileCountryCode" id="MobileCountryCode"  [(ngModel)]="CountryCode" [disabled]="true"
                    style="max-width: 50px!important;min-width: 20px!important;"  #MobileCountryCode="ngModel" />

                    <input type="text" class="short" name="Mobile" id="Mobile"   [(ngModel)]="frm.Mobile"
                    (ngModelChange)="atLeastOneContactisEntered()" (change)="atLeastOneContactisEntered()" [required]="iscontactRequired" [pattern]="mobilePattern"  #Mobile="ngModel"   />
                    <div class="errorWrap">
                            <div *ngIf="Mobile.invalid && showErrors">
                                    <div  *ngIf="Mobile.errors.required" >please enter either Phone number or Mobile number</div>
                                     <div *ngIf="Mobile.errors.pattern" >Please enter a valid Mobile number</div>
                            </div>
                    &nbsp;</div>
                </div>
               
                  <div class="row">
                    <label>Email</label>
                    <input type="text" class="short" name="Email" id="Email"  [(ngModel)]="frm.Email" required
                     [pattern]="emailPattern" #Email="ngModel" />
                    <div class="errorWrap">
                            <div *ngIf="Email.invalid && showErrors">
                                    <div *ngIf="Email.errors.required" >Please enter an Email</div>
                                     <div *ngIf="Email.errors.pattern" >Please enter a valid Email</div>
                            </div>
                    &nbsp;</div>
                </div>
               

            </fieldset>

            <!--<div class="buttons">
                <a  class="button left btn-back" style="margin-top: 20px;">Back</a>
                <a  class="button right btn-save" style="float:right;margin-top: 20px;" (click)="f.valid?OnClickNext():showErrors=true;" >Next</a>
            </div>-->
            
        </form>
    </section>
</article>