    <form novalidate="">
      <fieldset>
        <div class="row">
          <label style="width:300px"><input type="radio" value="true" name="haskit" [(ngModel)]="hasKit" > Yes I have a Kit</label>
        </div>
        <div class="row">
          <label style="width:300px"><input type="radio" value="false" name="haskit" [(ngModel)]="hasKit" > No I do not have a Kit</label>
        </div>
      </fieldset>
    </form>